* {
    box-sizing: border-box;
    user-select: none;
}
.base {
    width: 450px;
    height: 450px;
    margin: 0 auto;
}
.block {
    float: left;
    width: 100px;
    height: 100px;
    border: 3px dashed grey;
    transform: rotate(45deg);
    margin: 20px;
    transition: .1s;
}
.active { border: none; }
#red { background: #9f000e; }
#green { background: #59a440; }
#blue { background: #4568DC; }
#yellow { background: #dbd868; }
#magenta { background: #e67489; }
#purple { background: #764cae; }

